
@media only screen and (min-width: 480px) {

#headerMainContainer{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
   

}

#header__rightContainer{
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
#header__rightContainerIcon{
    margin-right: 10px;


}

#header__logo{
    margin-left: 20px;
    height: 25px;
    object-fit: contain;
    /* padding-left: 20px; */
    align-items: center;
}

#header__center{
    width: 45%;
    /* align-items: center; */

}

#searchIcon{
    padding-left: 10px;
    padding-top: 5px;
    align-content: center;
    align-items: center;
    color:#CCCDCD;
    background-color:#F0F0F0;
    border-left: 1px solid #CCCDCD;
    width: 50px;
    height: 32px;
}

#mobileSearchField{
    display: none;
}

#header__left{
    display: flex;
}
}

/* for mobile */


@media only screen and (max-width: 480px) {

    #drawerLogo{
        display: none;
        height: 10%;
        width: 10%;
    }
    #header__logo{
        height: 80%;
        width: 50%;
        z-index: 1000;
        margin: 0;
    }
    #appsIcon{
        display: none;
    
    }
    #appsIcon{
        display: none;
    
    }
    #appsIcon{
        display: none;
    
    }
    #appsIcon{
        display: none;
    
    }
    #headerMainContainer{
        /* background-color: aqua; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
       
    
    }

    #header__rightContainer{
        display: flex;
       flex-direction: row;
       justify-content: flex-end;
       align-items: center;
   
   }
   #header__center{
    /* width: 45%; */
    align-items: center;
    padding-left: 10%;

}

#mobileSearchField{
    width: 35%;
    padding: 10px;
    align-items: center;
    

}



}