#searchResultCardContainer{
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-column-gap: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    /* background-color: aqua; */
 

}
#detailsContainer{
    padding-left: 20px;
    align-items: center;
    font-size: 70%;
}

#imageContainer{
}

#image{
    height: 100%;
    width: 100%;


}
#viewsAndYears{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#channelLogoAndName{
    display: flex;
    flex-direction: row;
    justify-content: start;
}