#mainContainer{
    background-color:white;
    height: 1000px;
    padding: 10px;
    align-content: center;
}
#homeContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    align-items: center;
}
#selectedHomeContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    align-items: center;
    background-color:darkgrey;
    /* color: red; */

}








#trendingContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;

}

#selectedTrendingContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: darkgray;

}







#subscriptionContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;

}



#selectedSubscriptionContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: darkgray;


}
#libraryContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    /* background-color: darkgray; */
}

#historyContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    /* background-color: darkgray; */
}

#yourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    /* background-color: darkgray; */
}
#selectedYourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: darkgray;
}


#selectedlibraryContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: darkgray;

}
#selectedHistoryContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: darkgray;

}
#selectedYourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: darkgray;

}
#yourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;

}




#homeIcon{
    padding: 0;
}
#selectedHomeIcon{
    color: red;


}
#trendingIcon{
    padding: 0;
}
#selectedTrendingIcon{
    color: red;


}
#selectedYourVideosIcon{
    color: red;


}
#selectedHistoryIcon{
    color: red;


}
#subscriptionIcon{
    padding: 0;
}
#selectedSubscriptionIcon{
    color: red;


}
#selectedLibraryIcon{
    color: red;


}

#homeContainer:hover{
    background-color:lightgray;
    cursor: pointer;
}
#libraryContainer:hover{
    background-color:lightgray;
    cursor: pointer;
}
#trendingContainer:hover{
    background-color: lightgray;
    cursor: pointer;

}
#subscriptionContainer:hover{
    background-color: lightgray;
    cursor: pointer;

}
#historyContainer:hover{
    background-color: lightgray;
    cursor: pointer;

}
#yourVideosContainer:hover{
    background-color: lightgray;
    cursor: pointer;

}

#mainContainer > hr {
    height: 1px;
    border:0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}











/* #homeContainer:hover> #homeIcon{
    color: red;
}
#trendingContainer:hover> #trendingIcon{
    color: red;
}
#subscriptionContainer:hover> #subIcon{
    color: red;
} */