#mainContainer{
    background-color:white;
    height: 1000px;
    padding: 10px;
    align-content: center;
}
#homeContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    align-items: center;
    padding: 5px;

}
#selectedHomeContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    align-content: center;
    background-color:#E5E5E5;
    padding: 5px;
    /* color:#FF0000; */

}








#trendingContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    padding: 5px;


}

#selectedTrendingContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: #E5E5E5;
    padding: 5px;


}







#subscriptionContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    padding: 5px;


}



#selectedSubscriptionContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: #E5E5E5;
    padding: 5px;


}
#libraryContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    padding: 5px;

    /* background-color: #E5E5E5; */
}

#historyContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    padding: 5px;

    /* background-color: #E5E5E5; */
}

#yourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    padding: 5px;

    /* background-color: #E5E5E5; */
}
#selectedYourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: #E5E5E5;
    padding: 5px;

}


#selectedlibraryContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: #E5E5E5;
    padding: 5px;


}
#selectedHistoryContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: #E5E5E5;
    padding: 5px;


}
#selectedYourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    background-color: #E5E5E5;
    padding: 5px;


}
#yourVideosContainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-column-gap: 0px;
    padding: 5px;


}




#homeIcon{
    padding: 0;
    color:#616160;

}
#libraryIcon{
    padding: 0;
    color:#616160;

}
#historyIcon{
    padding: 0;
    color:#616160;

}
#yourVideosIcon{
    padding: 0;
    color:#616160;

}
#selectedHomeIcon{
    color:#FF0000;


}
#trendingIcon{
    padding: 0;
    color:#616160;

}
#selectedTrendingIcon{
    color:#FF0000;


}
#selectedYourVideosIcon{
    color:#FF0000;


}
#selectedHistoryIcon{
    color:#FF0000;


}
#subscriptionIcon{
    padding: 0;
    color:#616160;

}
#selectedSubscriptionIcon{
    color:#FF0000;


}
#selectedLibraryIcon{
    color:#FF0000;


}

#homeContainer:hover{
    background-color:#F2F2F2;
    cursor: pointer;
}
#libraryContainer:hover{
    background-color:#F2F2F2;
    cursor: pointer;
}
#trendingContainer:hover{
    background-color: #F2F2F2;
    cursor: pointer;

}
#subscriptionContainer:hover{
    background-color: #F2F2F2;
    cursor: pointer;

}
#historyContainer:hover{
    background-color: #F2F2F2;
    cursor: pointer;

}
#yourVideosContainer:hover{
    background-color: #F2F2F2;
    cursor: pointer;

}

#mainContainer > hr {
    height: 1px;
    border:0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}










